.py-hero {
    padding-top: 80px;
    padding-bottom: 80px;
}

.hero-title {
    font-family: Louize, Times, serif;
    font-size: 72px;
    letter-spacing: 2px;
    transition: font-size 0.5s ease-in-out;
}

.hero-subtitle {
    font-size: 1.2rem;
}

@media (min-width: 992px) {
    .hero-title {
        font-size: 96px;
    }
}

@media (max-width: 768px) {
    .hero-title {
        font-size: 40px;
    }
}
