:root {
  --color-background: #efe7e3;
  --color-text-dark: #2c2416;
  --color-button-primary: #28a745;
  --color-button-hover: #218838;
  --color-text-light: white;
  --bg-primary: #28a745;

  --bs-primary: #28a745;
  --bs-primary-rgb: 40, 167, 69;
  --bs-primary-bg-subtle: #d4edda;
  --bs-primary-border-subtle: #c3e6cb;
  --bs-primary-text-emphasis: #155724;

  --bs-link-color: #28a745;
  --bs-link-color-rgb: 40, 167, 69;
  --bs-link-hover-color: #218838;
  --bs-link-hover-color-rgb: 33, 136, 56;

  --bs-primary-active-border-color: #1e7e34;
  --bs-primary-active-bg: #218838;
  --bs-primary-active-color: #fff;
  --bs-primary-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);

  --bs-primary-focus-ring-color: rgba(40, 167, 69, 0.5);

  --bs-table-bg: #28a745;
  --bs-table-striped-bg: rgba(40, 167, 69, 0.05);
  --bs-table-striped-color: #000;
  --bs-table-active-bg: rgba(40, 167, 69, 0.1);
  --bs-table-active-color: #000;
  --bs-table-hover-bg: rgba(40, 167, 69, 0.075);
  --bs-table-hover-color: #000;

  --bs-alert-bg: #d4edda;
  --bs-alert-border-color: #c3e6cb;
  --bs-alert-color: #155724;

  --bs-badge-color: #fff;
  --bs-badge-bg: #28a745;

  --bs-form-valid-color: #28a745;
  --bs-form-valid-border-color: #28a745;
  --bs-form-focus-color: rgba(40, 167, 69, 0.25);
  --bs-form-focus-border-color: #28a745;

  --bs-pagination-active-bg: #28a745;
  --bs-pagination-active-border-color: #28a745;
  --bs-pagination-focus-color: #218838;
  --bs-pagination-hover-color: #218838;

  --bs-progress-bar-bg: #28a745;

  --bs-list-group-active-bg: #28a745;
  --bs-list-group-active-border-color: #28a745;
}

.btn-primary {
  --bs-btn-bg: #28a745;
  --bs-btn-border-color: #28a745;
  --bs-btn-hover-bg: #218838;
  --bs-btn-hover-border-color: #1e7e34;
  --bs-btn-active-bg: #1e7e34;
  --bs-btn-active-border-color: #1c7430;
  --bs-btn-disabled-bg: #28a745;
  --bs-btn-disabled-border-color: #28a745;
}

.btn-outline-primary {
  --bs-btn-color: #28a745;
  --bs-btn-border-color: #28a745;
  --bs-btn-hover-bg: #28a745;
  --bs-btn-hover-border-color: #28a745;
  --bs-btn-active-bg: #218838;
  --bs-btn-active-border-color: #1e7e34;
  --bs-btn-disabled-color: #28a745;
  --bs-btn-disabled-border-color: #28a745;
}

.form-control:focus,
.form-select:focus {
  border-color: #28a745;
  box-shadow: 0 0 0 0.25rem rgba(40, 167, 69, 0.25);
}

.form-check-input:checked {
  background-color: #28a745;
  border-color: #28a745;
}

.form-check-input:focus {
  border-color: #28a745;
  box-shadow: 0 0 0 0.25rem rgba(40, 167, 69, 0.25);
}

body {
  background-color: var(--color-background);
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 400;
}
