<div id="resultsContainer" class="d-none">
    <div class="card shadow-sm">
        <div class="card-header bg-primary text-white">
            <h5 class="mb-0">Calculation Results</h5>
        </div>
        <div class="card-body">
            <div class="row mb-3">
                <div class="col-md-6">
                    Average monthly Net Income for the first 3 years:
                </div>
                <div class="col-md-6 text-end" id="averageMonthlyNetIncome">
                    <!-- Will be populated by JavaScript -->
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-6">
                    Average monthly Net Return for the first 3 years:
                </div>
                <div class="col-md-6 text-end">
                    <span class="h5 text-success fw-normal" id="monthlyNetReturn"><!-- Will be populated by JavaScript --></span>
                </div>
            </div>
            <div id="expectedIncomeSection" class="d-none">
                <hr>
                <div class="row mb-3">
                    <div class="col-md-6">
                        Expected average monthly Net Income based on occupancy rate:
                    </div>
                    <div class="col-md-6 text-end" id="expectedMonthlyNetIncome">
                        <!-- Will be populated by JavaScript -->
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-6">
                        Expected average monthly Net Return based on occupancy rate:
                    </div>
                    <div class="col-md-6 text-end">
                        <span class="h5 text-success fw-normal" id="expectedMonthlyNetReturn"><!-- Will be populated by JavaScript --></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

