<div id="resultsContainer" class="d-none">
    <div class="card shadow-sm">
        <div class="card-header bg-primary text-white">
            <h5 class="mb-0">Calculation Results</h5>
        </div>
        <div class="card-body">
            <div class="row mb-3">
                <div class="col-md-6">
                    Average Monthly Net Income Over 3 Years:
                </div>
                <div class="col-md-6" id="averageMonthlyNetIncome">
                    <!-- Will be populated by JavaScript -->
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-6">
                    Monthly Net Return Over 3 Years:
                </div>
                <div class="col-md-6">
                    <span class="h5 text-success" id="monthlyNetReturn"><!-- Will be populated by JavaScript --></span>
                </div>
            </div>
            <div id="expectedIncomeSection" class="d-none">
                <hr>
                <div class="row mb-3">
                    <div class="col-md-6">
                        Expected Monthly Net Income (calculating expected booking rate):
                    </div>
                    <div class="col-md-6" id="expectedMonthlyNetIncome">
                        <!-- Will be populated by JavaScript -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        Expected Monthly Net Return:
                    </div>
                    <div class="col-md-6">
                        <span class="h5 text-success" id="expectedMonthlyNetReturn"><!-- Will be populated by JavaScript --></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

